<%- include('../partials/header') %>

<h1><%= user.username %></h1>

<% user.userEvents.forEach((oneEvent) => { %>
  <a class="event-box" href='<%= user.username %>/events/<%= oneEvent._id %>'>
    <h3><%= oneEvent.name %></h3>
    <p><%= oneEvent.description %></p>
  </a>
<% }) %>


<div>
  <a href="/<%= user.username %>/events/new-event">Add New Event</a>
</div>
