<%- include('partials/header') %>

<div class="page-margin--top">

  <h1>Edit photo</h1>
  <form action="/<%=userParam%>/events/<%=eventIdParam%>/<%=photoObject.id%>/update" method="POST">

  <label for="description">Description</label>
  <input type="text" name="description" value="<%= photoObject.description %>"></input>
  <br><br>

  <button type="submit">Update Caption</button>
  </form>

  <form action="/<%=userParam%>/events/<%=eventIdParam%>/<%= photoObject._id %>/delete" method="POST">
      <button type="submit">Delete Photo</button>
  </form>

</div>
