<h1>Edit photo</h1>
<form action="/events/<%=eventIdParam%>/<%=photoObject.id%>/update" method="POST">

<label for="description">Description</label>
<input type="text" name="description" value="<%= photoObject.description %>"></input>
<br><br>

<button type="submit">Update Caption</button>
</form>

<form action="/events/<%=eventIdParam%>/<%= photoObject._id %>/delete" method="POST">
    <button type="submit">Delete Photo</button>
</form>
