<%- include('partials/header') %>

<div class="page-margin--top">

  <div class="center-new-event">

  <div class="new-event-form">

  <h1>Edit photo</h1>

  <form action="/<%=userParam%>/events/<%=eventIdParam%>/<%=photoObject.id%>/update" method="POST">
    <div class="new-event-wrapper">

  <input type="text" name="description" value="<%= photoObject.description %>"></input>

  <button type="submit" class="update-event">Update Caption</button>

  <form action="/<%=userParam%>/events/<%=eventIdParam%>/<%= photoObject._id %>/delete" method="POST">
      <button type="submit" class="delete-event">Delete Photo</button>
  </form>
</div>
  </form>

</div>

</div>

</div>
