<%- include('partials/header') %>


<h1> <%= eventObject.name %> </h1>
<h5> <%= eventObject.description %> </h5>

<!-- Target -->
<h3>Share Link</h3>
<input id="post-shortlink" value="localhost:3000/events/<%=eventObject.id%>/public">
<button class="button" id="copy-button" data-clipboard-target="#post-shortlink">Copy</button>


<a href="/<%= userParam %>/events/<%=eventObject.id%>/edit">Edit Event</a>

<section>
  <form action='/<%= userParam %>/events/<%=eventObject.id%>/upload' method="post" enctype="multipart/form-data" runat="server">
  <div class="upload-wrapper">
    <input type="text" name="description" placeholder="Photo Caption">
    <label class="custom-file-upload">
      <input type="file" name="file" id="imgInp">
      Choose A Photo
    </label>
    <input class="save-new-photo" type="submit" value="Save New Photo">
  </div>
  <div class="image-preview-wrapper">
    <img id="image-preview" src="/images/camerabw-01.svg" alt="Image Preview" />
  </div>
  </form>
</section>

<% eventObject.eventPhotos.forEach((onePhoto) => { %>

  <div class="photo-wrapper">
    <img src="<%= onePhoto.url_path %>" />
    <div class="photo-caption">
      <p><%= onePhoto.description %></p>
    </div>
    <a href="/<%=userParam%>/events/<%=eventObject.id%>/<%=onePhoto.id%>/edit">Edit photo</a>

  </div>
<% }) %>
