
<%- include('partials/header') %>


<h1> <%= eventObject.name %> </h1>
<h5> <%= eventObject.description %> </h5>


<section>
  <form action='/events/<%=eventObject.id%>/upload' method="post" enctype="multipart/form-data" class="dropzone">
  <div class="upload-wrapper">
    <input type="text" name="name" placeholder="Photo Name">
    <input type="text" name="description" placeholder="Photo Caption">
    <input type="submit" value="Save New Photo">
  </div>
  </form>
</section>

<% eventObject.eventPhotos.forEach((onePhoto) => { %>
  <img src="<%= onePhoto.url_path %>" />
  <div class="photo-caption">
    <p><%= onePhoto.name %></p>
    <p><%= onePhoto.description %></p>
  </div>
<% }) %>

<a href="/events/<%=eventObject.id%>/edit">Edit event</a>
